*{
    box-sizing: border-box;
  
}

/* Navbar */
body {
    margin: 0;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 20%;
    margin-left: 10%;
    /* border: 3px solid red; */
    text-align: left;
}

.logo h1{
    font-family: 'Lobster', cursive;
    color: #180F4A;
    font-size: 34px;

}

.menu {
    flex: 70%;
    /* border: 1px solid green; */
    text-align: right;
    padding: 20px;
}

.menu a {
    text-decoration: none;
    color: #180F4A;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #ff2978;
    border-top: 4px solid #180F4A;
}

#button {
    background-color: #180F4A;
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#button:hover{
    border:none;
    background: #FF2978;

}
/* Ende Navbar */

/* Header */
.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;


}

.headline{
    margin-left: 10%;
    flex: 40%;
    text-align: center;
   

}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #180F4A;
    padding: 0;
    margin: 0;
}

.headline p{
    color: gray;
    text-align: left;

}

.contact-btn{
    display: inline-block;
    background-color: #FF2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius:5px;
    text-decoration: none;
}

.contact-btn:hover{
    background-color: #180F4A;

}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}
/* End Header */

/* Start section */
section{
    display: inline-block;
    margin-top: 80px;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #180F4A;

}

.services{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #FF2978;
    border-radius: 10px;
    cursor: pointer;

}